.form-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
}

.form-heading span {
    font-size: 24px;
}

.form-container {
    gap: 24px;
}

.form-container .form-field {
    gap: 8px;
}

.form-container .form-field .label {
    font-size: 14px;
}

.form-container .form-field input {
    padding: 12px;
    outline: none;
    width: 380px;
    font-weight: 500;
    border-radius: 8px;
    font-family: inherit;
    border: 2px solid var(--white);
}

.form-container .form-field input:focus {
    border: 2px solid var(--aquamarine);
}

.cta-container {
    gap: 40px;
    margin-top: 36px;
}

.cta-container a {
    font-weight: 700;
    text-decoration: none;
}

.cta-container a:hover {
    color: var(--aquamarine);
    text-decoration: underline;
}

.cta-container .cta-container-bottom {
    gap: 8px;
    font-size: 14px;
}

.cta-container .cta-container-top {
    font-size: 14px;
    flex-direction: row-reverse;
}

.cta-container button {
    width: 100%;
    cursor: pointer;
    padding: 8px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    background: transparent;
    border-radius: 8px;
    border: 2px solid var(--aquamarine);
    transition: all 150ms ease-in-out;
}

.cta-container button:hover {
    background: var(--aquamarine);
    color: var(--mirage);
}
