.form-heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;

    span {
        font-size: 24px;
    }
}

.form-container {
    gap: 24px;

    .form-field {
        gap: 8px;

        .label {
            font-size: 14px;
        }

        input {
            padding: 12px;
            outline: none;
            width: 380px;
            font-weight: 500;
            border-radius: 8px;
            font-family: inherit;
            border: 2px solid var(--white);

            &:focus {
                border: 2px solid var(--aquamarine)
            }
        }
    }
}

.cta-container {
    gap: 40px;
    margin-top: 36px;

    a {
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: var(--aquamarine);
            text-decoration: underline;
        }
    }

    .cta-container-bottom {
        gap: 8px;
        font-size: 14px;
    }

    .cta-container-top {
        font-size: 14px;
        flex-direction: row-reverse;
    }

    button {
        width: 100%;
        cursor: pointer;
        padding: 8px;
        color: var(--white);
        font-weight: 700;
        font-size: 16px;
        font-family: inherit;
        background: transparent;
        border-radius: 8px;
        border: 2px solid var(--aquamarine);
        transition: all 150ms ease-in-out;
    }

    button:hover {
        background: var(--aquamarine);
        color: var(--mirage);
    }
}