.workspace-container {
    margin: 0px 80px;
    height: calc(100vh - 120px);
}

.problem-details {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.playground-section {
    overflow: hidden;
}