@import url('../app/styles/colors.css');
@import url('../app/styles/utilities.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: var(--font-poppins);
}

.Toastify__toast {
  font-family: var(--font-poppins);
  border-radius: 16px;
  width: fit-content;
  overflow: hidden;
  padding: 12px 20px;
  background: var(--gray-dark);
  color: var(--white);
  font-weight: 200;
}

.Toastify__close-button {
  position: unset;
  margin-left: 16px;
  color: var(--white);
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--aquamarine);
}

.Toastify__toast--success .Toastify__progress-bar {
  background: var(--aquamarine);
}

.gutter {
  background-color: #3b3b3b;
}

.gutter:hover {
  background-color: #4d4d4d
}

.gutter.gutter-horizontal {
  border-radius: 8px;
  cursor: col-resize;
  margin: 0 8px;
  width: 6px !important;
}

.gutter.gutter-vertical {
  border-radius: 8px;
  cursor: row-resize;
  margin: 8px 0px;
  height: 6px !important;
}

code {
  font-size: 14px;
  font-family: Poppins;
  padding: 1px 8px;
  margin: 0 2px;
  border-radius: 4px;
  background: #121212;
  color: #d6d6d6;
}