.auth-page-wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(162deg, 
    #040507 0%, 
    #181818 62%,
    #000000 100%
  );
}

.navbar {
  z-index: 10;
  position: relative;
}

.text-scramble {
  position: absolute;
  top: 240px;
  left: 120px;
}
