.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: #252525;
  color: var(--aquamarine);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1000;
  opacity: 0.95;
  transition: opacity 0.2s ease-in-out;
}

.bottom {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #252525 transparent;
}

/* Top */
.top {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.top::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #252525 transparent transparent transparent;
}

.left {
  right: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #252525;
}

.right {
  left: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.right::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #252525 transparent transparent;
}
