.navbar-container-wrapper {
    height: 100px;
    width: 100vw;

    .navbar-container {
        margin: 0px 120px;
        height: inherit;

        .navbar-leftside {
            .logo-container {
                font-size: 20px;
                font-weight: 700;
                text-shadow: -4px 4px 0px var(--bunting);
            }
        }

        .navbar-rightside {
            .cta-container {
                button {
                    font-weight: 700;
                    cursor: pointer;
                    color: var(--white);
                    font-weight: 500;
                    font-size: 16px;
                    font-family: inherit;
                    background: transparent;
                    padding: 4px 8px;
                    border-radius: 8px;
                    border: 2px solid var(--aquamarine);
                    transition: all 150ms ease-in-out;
                }

                button:hover {
                    background: var(--aquamarine);
                    color: var(--mirage);
                }
            }
        }
    }
}